.container{
    text-align: center;
    padding-top: 25vh;
    
}

#num{
  font-size: 65px;
}


#increment{
    margin-right: 9px;
    height: 35px;
    
}
#Decrement{
    margin-left: 9px;
    height: 35px;
    
}
#reset{
    height: 35px;
}

#Decrement:hover{
    background-color: rgb(229, 21, 21);
    p
}

#increment:hover{
    background-color: rgb(33, 231, 33);
}

#reset:hover{
    background-color: rgb(235, 235, 41);
}